<div class="content eventdetails">
    <h1 class="glow">EVENT DETAILS</h1>
    The TCL Chinese Theatre becomes CASINO ROYAL!<br/>
    WHERE: TCL Chinese Theatre<br/>
    DATE: WEDNESDAY, DECEMBER 31ST<br/>
    TIME: 9:30PM TO 2AM<br/><br/>

    <p>From the producers that brought you the mega hit series SCREAM Halloween comes the ultimate New Year’s Eve countdown experience.  For one special night, we have transformed the historical TCL Chinese theatre into CASINO ROYALE.  This exclusive Black Tie event summons the nostalgia of classic Hollywood coupled with state of the art sound and lightening which in turn making this event an unforgettable night.  Enjoy a night of red-carpet runway, cocktails, and dancing with that special date in one of Los Angeles most famous landmarks.  As the hours wind down to minutes…as the minutes tick down to seconds…to the stroke of midnight…seal that moment in time…with that kiss…that is the great DOUBLE DOWN…GOOD LUCK!</p>

    <h2 class="glow2">Featuring:</h2>
    <ul>
        <li>An Exclusive Black Tie Event</li>
        <li>World Renowned TCL Chinese Theatre</li>
        <li class="glow2">888 Count Balloon Drop at Midnight</li>
        <li>Function One Sound System</li>
        <li>State of the Art Intelligent Lighting</li>
        <li class="glow2">Casino Tables:
            <ul>
                <li>Roulette</li>
                <li>Craps</li>
                <li>Black Jack</li>
            </ul>
        </li>
        <li>and more!</li>
        <li>Strictly 21+</li>
        <li>Doors Open at 9 PM</li>
        <li>Limited Tickets On Sale Now</li>
        <li>Click <a class="glow2" target="_blank" href="https://thenyecountdown.eventbrite.com">here</a> to buy your tickets now before prices go up!</li>
    </ul>

    <div id="photos" class="clearfix">
         <img src="/img/eventdetails/DSC_0910.jpg" width="4288" height="2848" alt="DSC 0910">
         <img src="/img/eventdetails/DSC_0935.jpg" width="4288" height="2848" alt="DSC 0935">
         <img src="/img/eventdetails/IMG_0835.jpg" width="4113" height="2742" alt="IMG 0835">
        <img src="/img/eventdetails/Man-on-a--Ledge-1.jpg" width="1500" height="1000" alt="Man On A Ledge 1">
        <img src="/img/eventdetails/Man-on-a-Ledge-2.jpg" width="1000" height="667" alt="Man On A Ledge 2">
        <img src="/img/eventdetails/Man-on-a-Ledge-3.jpg" width="1000" height="667" alt="Man On A Ledge 3">
        <img src="/img/eventdetails/Man-on-a-Ledge-4.jpg" width="1000" height="667" alt="Man On A Ledge 4">

        <img src="../img/eventdetails/Raw-2.jpg" width="1200" height="800" alt="Raw 2">
        <img src="../img/eventdetails/Raw-3.jpg" width="1200" height="800" alt="Raw 3">
        <img src="../img/eventdetails/Raw-4.jpg" width="1200" height="800" alt="Raw 4">
        
    
          <img src="/img/eventdetails/XC1D0282.jpg" width="1000" height="667" alt="XC1D0282">
         <img src="/img/eventdetails/XC1D0292.jpg" width="1000" height="667" alt="XC1D0292">
         <img src="/img/eventdetails/XC1D0312.jpg" width="1000" height="667" alt="XC1D0312">
         <img src="../img/eventdetails/TCL-Chinese-Theatre.jpg" width="1000" height="894" alt="TCL Chinese Theatre">
    </div>

</div>