<div class="content">
    <h1 class="glow1">EVENT DETAILS</h1>
    
    SCREAM 10: TOWER OF TERROR
    DATE: FRIDAY, OCTOBER 31ST
    TIME: 9:30PM TO 2AM

    <p>It's become an annual tradition spanning a decade. On Friday October 31st, we bring you the one and only SCREAM 10 Halloween Extravaganza at the Sofitel Beverly Hills! With a capacity crowd of costumed partiers expected, this is one of our biggest parties of the year. You DO NOT want to miss this massive special event!</p>

    <h2>Featuring -</h2>
    <ul>
        <li>10th Annual Mega Event</li>
        <li>Dancefloor & Lounge Areas</li>
        <li>Intelligent Lighting</li>
        <li>Costume Contest</li>
        <li>Zombie Apocalypse</li>
        <li>VIP Table Service</li>
        <li>World Famous Beverly Hills</li>
        <li>and more!</li>
        <li>Click here to buy your tickets now before prices go up!</li>
    </ul>
    
    
    
	    
	    	
							
				<h2>It was once stated that “ to visit Los Angeles and not see the Chinese is like visiting China and not seeing the Great Wall.” Grauman’ s opulent, awe-inspiring presence and history has been a cornerstone of Hollywood for over 75 years.</h2>
<p>The grand opening of Grauman’s Chinese Theatre in Hollywood on May 18, 1927, was the most spectacular theatre opening in motion picture history. Thousands of people lined Hollywood Boulevard and a riot broke out as fans tried to catch a glimpse of the movie stars and other celebrities as they arrived for the opening. The film being premiered that night was Cecil B. DeMille’s “The King of Kings,” which was preceded by “Glories of the Scriptures,” a live prologue devised by master showman Sid Grauman. A Wurlitzer organ and 65-piece orchestra provided music for the prologue. The theatre opened to the public the following day, May 19, 1927.</p>
<p>Previously, Grauman built the Million Dollar Theatre in downtown Los Angeles and the lavish Egyptian Theatre a few blocks from the Chinese, but he wanted to build his dream theatre. Real estate mogul C.E. Toberman helped him secure a long-term lease on a piece of property on the boulevard and Grauman developed the plans for the theatre with architect Raymond Kennedy. Norma Talmadge turned the first spade full of dirt in January 1926 and beautiful Chinese actress Anna May Wong drove the first rivet in the steel girders. Built at a cost of $2,000,000, eighteen months later the Chinese Theatre opened.</p>
<p>Authorization had to be obtained from the U.S. government to import temple bells, pagodas, stone Heaven Dogs and other artifacts from China. Poet and film director Moon Quon came from China, and under his supervision Chinese artisans created many pieces of statuary in the work area that eventually became the Forecourt of the Stars. Most of these pieces still decorate the ornate interior of the theatre today.</p>
<p>Protected by its 40-foot high curved walls and copper-topped turrets, the theatre’s legendary forecourt serves as an oasis to the stars of yesterday and today. Ten-foot tall lotus-shaped fountains and intricate artistry flank the footprints of some of Hollywood’s most elite and welcome its visitors into the magical world of fantasy and whim known as Hollywood.</p>
<p>The theatre rises 90-feet high and two gigantic coral red columns topped by wrought iron masks hold aloft the bronze roof. Between the columns is a 30-foot high dragon carved from stone. Guarding the theatre entrance to this day are the two original giant Heaven Dogs brought from China.</p>
<p>Grauman never owned the theatre outright, but held a one-third interest with his partners, Howard Schenck, Mary Pickford and Douglas Fairbanks, Sr. Grauman sold his share to Fox West Coast Theatres in 1929 and was the Managing Director of the theatre until his death in 1950.</p>
<p>The Chinese Theatres&nbsp;is the most sought-after theatre in Hollywood for studio premieres. Fans flock to these events to see the celebrities arrive and walk up the red carpet into the theatre. Rich in movie tradition, with its cement handprints and footprints in the forecourt, the Chinese Theatre immortalizes the brightest stars. More than four million visitors from all over the world visit The Chinese Theatre every year.</p>
<p>Chinese Theatres&nbsp;was declared a historic-cultural landmark in 1968, and there has always been a restoration program in process to maintain the theatre’s beauty. Following the 1994 Los Angeles earthquake, geological experts were brought in to inspect the theatre and advise the owners with regard to protecting and strengthening the entire structure.</p>
<p>In 2001, the theatre underwent major renovations that coincided with the opening of the Hollywood &amp; Highland mall and the new Chinese 6 Theatres. This renovation was designed to rejuvenate and enhance the Chinese Theatre. Additionally, several earthquake retrofits were required to protect the structure and ensure its permanence.</p>
<p>On January 11, 2013, the world famous Chinese Theatre announced that they would be teaming up with one of China’s biggest electronics manufacturers, TCL, aka “The Creative Life” in a 10-year naming rights partnership.&nbsp; With this partnership, TCL and the Chinese Theatres have plans to preserve a legacy that was created more than 85 years ago and will continue for many years to come. The legacy of the Chinese Theatre is to be a leader in exhibition, to be at the forefront of new technology, to push the envelope and to offer patrons the best experience possible. The best way to honor its legacy is to bring the theatre into the future and to continue to evolve with the times.&nbsp; The Chinese Theatre will have the ability to remain current and continue to be the best in the world with their newly formed partnership with TCL.</p>
<p>This partnership brings many exciting upgrades and preservation projects to the Chinese Theatre including a new plan for sloped seating, new digital marquee, main lobby refurbishments and key technology upgrades, including enhancements to both the audio and visual presentation.&nbsp; Not only will these projects bring the cherished venue back to the glory days when showman-founder Sid Grauman&nbsp;first opened the theatre, but they will also give the storied movie palace a new lease on life and provide theatre-goers with a much improved, truly world-class movie experience.</p>
				
    
    
    
    
    
</div>

<ul>
    <li></li>
</ul>