<div class="content">
    <h1>EVENT DETAILS</h1>
    
    SCREAM 10: TOWER OF TERROR
    DATE: FRIDAY, OCTOBER 31ST
    TIME: 9:30PM TO 2AM

    <p>It's become an annual tradition spanning a decade. On Friday October 31st, we bring you the one and only SCREAM 10 Halloween Extravaganza at the Sofitel Beverly Hills! With a capacity crowd of costumed partiers expected, this is one of our biggest parties of the year. You DO NOT want to miss this massive special event!</p>

    <h2>Featuring -</h2>
    <ul>
        <li>10th Annual Mega Event</li>
        <li>Dancefloor & Lounge Areas</li>
        <li>Intelligent Lighting</li>
        <li>Costume Contest</li>
        <li>Zombie Apocalypse</li>
        <li>VIP Table Service</li>
        <li>World Famous Beverly Hills</li>
        <li>and more!</li>
        <li>Click here to buy your tickets now before prices go up!</li>
    </ul>
    
</div>

<ul>
    <li></li>
</ul>